.time-list-title {
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
  padding: 12px 15px;
}
.time-list {
  max-height: 35vh;
  overflow-y: auto;
  width: fit-content;
}
.time-list div {
  margin: 12px 20px;
  padding: 12px 20px;
  background-color: #009879;
  font-size: 20px;
  border-radius: 5px;
}
.top-list {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
}
.top-list th {
  padding: 12px 15px;
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
.top-list td {
    padding: 12px 15px;
    text-align: center;
}
.top-list tbody tr {
    border-bottom: 1px solid #dddddd;
}

.top-list tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.top-list tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.x-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(204, 234, 228);
    color: rgb(0, 0, 0);
    padding: 1px 2px 2px 4px;
    border-radius: 0px 0px 0px 4px;
    cursor: pointer;
}
.x-button:hover {
  background-color: #66c1ae;
}