<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main/page.css') }}">

    <script defer src="{{url_for('static', filename='dependencies/vue-2.6.14.js')}}"></script>

    <script defer src="{{url_for('static', filename='main/utilities.js')}}"></script>
    <script defer src="{{url_for('static', filename='main/components/matrix.js')}}"></script>
    <script defer src="{{url_for('static', filename='main/components/topList.js')}}"></script>
    <script defer src="{{url_for('static', filename='main/components/timeList.js')}}"></script>
    <script defer src="{{url_for('static', filename='main/page.js')}}"></script>
  </head>
  <body>
    <div id="page">
      <input v-model="newParticipant" v-on:keyup.enter="addParticipant">
      <matrix :participants="participants" :interruptions="interruptions" @interruption="addInterruption"></matrix>
      <top-list :participants="participants" :interruptions="interruptions" style="position: absolute;top: 40px;right: 40px;"></top-list>
      <time-list :interruptions="interruptions" style="position: absolute;bottom: 40px;right: 40px;"></time-list>
    </div>
  </body>
</html>